@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button:active,
button:focus,
.searchBtn,
input:active,
input:focus {
  box-shadow: none !important;
}

.searchBtn:hover {
  transform: scale(1.1);
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  list-style: none;
  margin: auto;
  padding: 2rem 0;
}
.activePage {
  background-color: brown;
  padding: 0.3rem;
  color: #fff;
  text-decoration: none;
  outline: none;
}
